venv/
venv_moss/
MOSS-TTS-Nano/
CosyVoice/
models/
output/
data/audio/
data/*.jsonl
data/*.log
data/wandb/
wandb/
*.wav
*.bin
*.safetensors
*.onnx
*.pyc
__pycache__/

models/paddlespeech_onnx/
venv_paddle/
